
/* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* 
==================================================
	#Variables
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

@import "base";
@import "skeleton";

/* Variables
=================================================== */
$orange: #FF9900;
$dark-gray: #424242;
$gray: #8f8f8f;
$light-gray: #fcfcfc;
$white: #fff;
$black: #000;

$red: #c00000;
$blue: #1d23a9;

@mixin blue-gradient {
	background: rgb(62,68,242); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(62,68,242,1) 0%, rgba(29,35,169,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(62,68,242,1)), color-stop(100%,rgba(29,35,169,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(62,68,242,1) 0%,rgba(29,35,169,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(62,68,242,1) 0%,rgba(29,35,169,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(62,68,242,1) 0%,rgba(29,35,169,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(62,68,242,1) 0%,rgba(29,35,169,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e44f2', endColorstr='#1d23a9',GradientType=0 ); /* IE6-9 */
}

@mixin light-blue-gradient {
	background: rgb(57,79,221); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(57,79,221,1) 0%, rgba(25,35,169,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(57,79,221,1)), color-stop(100%,rgba(25,35,169,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(57,79,221,1) 0%,rgba(25,35,169,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(57,79,221,1) 0%,rgba(25,35,169,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(57,79,221,1) 0%,rgba(25,35,169,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(57,79,221,1) 0%,rgba(25,35,169,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#394fdd', endColorstr='#1923a9',GradientType=0 ); /* IE6-9 */

}

@mixin blue-gradient-alt {
	background: rgb(62,68,242); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  rgba(62,68,242,1) 0%, rgba(25,36,140,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(62,68,242,1)), color-stop(100%,rgba(25,36,140,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(62,68,242,1) 0%,rgba(25,36,140,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(62,68,242,1) 0%,rgba(25,36,140,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(62,68,242,1) 0%,rgba(25,36,140,1) 100%); /* IE10+ */
	background: radial-gradient(center, ellipse cover,  rgba(62,68,242,1) 0%,rgba(25,36,140,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e44f2', endColorstr='#19248c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

@mixin super-slow-transition {
	-webkit-transition: all 3s ease;
	-moz-transition: all 3s ease;
    -ms-transition: all 3s ease;
    -o-transition: all 3s ease;
	transition: all 3s ease;
}

@mixin slow-transition {
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

@mixin medium-transition {
	-webkit-transition: all 5ms ease;
	-moz-transition: all 5ms ease;
	-ms-transition: all 5ms ease;
	-o-transition: all 5ms ease;
	transition: all 5ms ease;
}

/* #Site Styles
================================================== */
body {
	background: url(/assets/lghtmesh.png);
	a {
		text-decoration: none;
	}

}

.top-bar {
	height: 52px;
	background: $dark-gray;
	-webkit-box-shadow:  1px 1px 1px 1px rgba(0, 0, 0, .2);
    box-shadow:  1px 1px 1px 1px rgba(0, 0, 0, .2);
    font-family: "futura-pt",sans-serif;
    

    .logo {
    	float: left;
    	margin: 15px 10px 15px 20px;
    	font-size: 24px;
    	font-family: "futura-pt",sans-serif;
    	font-weight: 800;
    	text-shadow: 0px 1px 1px #666;
    	a {
    		text-decoration: none;
    		color: $black;
    	}
    	a:hover {
    		i {
    			color: $orange;
    			@include super-slow-transition;
    		}
        
    	}
    }
	.nav-right {
		margin: 0;
	    ul {
	    	list-style: none;
	    	margin: 0;
	    }
	    li {
	    	float: right;
	    	margin: 0;
	    	a {
				margin: 6px 10px 10px 0;
				padding: 10px;
				color: $white;
				display: block;
				text-decoration: none;
				font-size: 14px;
	    	}
	    	a:hover {
	    		color: $orange;
	    		@include medium-transition;
	    	}
	    }
	}

	.nav-left {
		margin: 0;
	    ul {
	    	list-style: none;
	    	margin: 0;
	    }
	    li {
	    	float: left;
	    	margin: 0;
	    	a {
				margin: 6px 10px 10px 10px;
				padding: 10px 10px;
				color: $white;
				display: block;
				text-decoration: none;
				font-size: 14px;
				i {
    				margin-right: 10px;
    			}
	    	}
	    }
	}

}

h1 {
	color: $dark-gray;
	font-size: 40px;
	margin-bottom: 20px;
}


/* #Page Styles
================================================== */
.group-title {
	margin: 20px 0 -10px 0;
	a:hover {
		color: $blue;
		@include slow-transition;
	}
	a:hover i {
		color: $red;
		@include slow-transition;
	}
	h1 {
		line-height: 40px;
	}
}
.main-title {
	margin: 0;
}
.filter {
	i {
		margin-top: 20px;
		font-size: 24px;
		color: $gray;
	}
	// margin: 20px 0;
	padding: 10px;
	background-color: $white;
	

	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
    border-radius: 6px;

    -moz-box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, .3);
    -webkit-box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, .3);
    box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, .3);
    .vert-bar {
			font-size: 18px;
			margin-top: 20px;
			color: $gray;
		}
    .active {
		@include blue-gradient-alt;
		// text-decoration: underline;
    }  
	ul {
		list-style: none;
		margin: 0;
	}
	li {
		float: left;
		margin: 0;
		a {
			margin: 10px;
			padding: 10px 20px;
			color: $white;
			display: block;
			text-decoration: none;
			font-size: 16px;

			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
		    border-radius: 3px;

		    @include blue-gradient;
		}
		a:hover {
        	color: #ebebeb;
			@include slow-transition;
		}

		a:active {
			@include blue-gradient-alt;
			// @include slow-transition;
		}

		
	}
}
#filter-icon {
	display: none;
}

#filter {
	display: none; /* visibility toggled by jquery */
}


hr {
	-moz-box-shadow: 1px 1px 0 1px $white;
	-webkit-box-shadow: 1px 1px 0 1px $white;
    box-shadow: 1px 1px 0 1px $white;
}

.card {
	a {
		height: 120px;
		width: 220px;
		padding-right: 10px;
		float: left;
		text-decoration: none;
		background-color: $white;

	    -moz-border-radius: 6px;
	    -webkit-border-radius: 6px;
	    border-radius: 6px;

	    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, .25);
	    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, .25);
	    box-shadow: 1px 1px 4px rgba(0, 0, 0, .25);
    }
    a:hover {
    	background-color: darken($light-gray, 5);

	    @include slow-transition;
    }
    a:active {
    	-moz-box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, .3);
    	-webkit-box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, .3);
    	box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, .3);
    }

	img {
		float: left;
		margin: 20px 10px 20px 20px;
	}

	h3 {
		font-size: 18px;
		line-height: 22px;
		margin-top: 16px;
		color: $blue;
		span {
			font-size: 16px;
			color: $gray;
		}
	}
}

.other-card {
	li {
		height: 120px;
		width: 220px;
		// padding-right: 10px;
		margin-right: 10px;
		float: left;
		text-decoration: none;
		background-color: $white;

	    -moz-border-radius: 6px;
	    -webkit-border-radius: 6px;
	    border-radius: 6px;

	    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, .25);
	    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, .25);
	    box-shadow: 1px 1px 4px rgba(0, 0, 0, .25);
    }
    a {
    	color: $blue;
    }
	img {
		float: left;
		margin: 20px 10px 20px 20px;
	}
	h3 {
		font-size: 18px;
		line-height: 22px;
		margin-top: 16px;
		color: $gray;
		span {
			font-size: 16px;
			color: $gray;
		}
	}
}

.team-card {
	font-family: "futura-pt",sans-serif;
	.card-layout {
		height: 460px;
		width: 440px;
		margin: 0 20px 20px 0;
		padding: 10px;
		float: left;
		text-decoration: none;
		background-color: $white;

	    -moz-border-radius: 6px;
	    -webkit-border-radius: 6px;
	    border-radius: 6px;

	    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, .25);
	    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, .25);
	    box-shadow: 1px 1px 4px rgba(0, 0, 0, .25);
	    h3 {
	    	color: $dark-gray;
	    	}
	    .team-description {
	    	font-size: 18px;
	    	padding-left: 20px;
	    }
	    .team-url {
	    	font-size: 18px;
	    	color: $blue;
	    	padding-left: 20px;
	    	a {
	    		color: $blue;
	    	}
	    }
	    .team-member-images {
	    	margin-bottom: 0;
	    }
	    .team-members {
	    	display: none;
	    }
	    .sprint-mgrs {
	    	// display: none;
	    	font-size: 17px;
	    	margin-left: 20px;
	    }
	    li {
	    		margin-left: -25px;
	    	}
	    .team-member-images {
	    	float: left;
	    	width: 440px;
	    	ul {
	    		margin: 0;
	    		li {
	    			float: left;
	    			margin: 0;
	    			padding: 0;
	    			img {
	    				margin-top: 5px;
	    			}
	    		}
	    	}
	    }
    }

	img {
		float: left;
		margin: 20px 10px 20px 20px;
	}

	h3 {
		margin-left: 10px;
		font-size: 34px;
		line-height: 42px;
		color: $dark-gray;
		span {
			font-size: 16px;
			color: $gray;
		}
	}
}

.profile {
	font-size: 16px;
	padding: 30px 20px 20px 20px;
	margin-top: 40px;
	background-color: $white;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-moz-box-shadow: 0 0 10px 1px $gray;
    -webkit-box-shadow: 0 0 10px 1px $gray;
    box-shadow: 0 0 10px 1px $gray;
    .profile-edit {
    	float: right;
    	margin: -40px -20px 0 0;
    	a:hover {
    		color: $red;
    		@include slow-transition;
    	}
    	i {
    		font-size: 24px;
    	}
    }
    .mentor-block {
    	h4 {
    		color: $gray;
    		a {
    			color: $blue;
    		}
    	}
    }
    .back-arrow {
    	font-size: 24px;
    	margin: -20px 10px 20px -10px;
    	a {

    	}
    }
    img {
    	width: 260px;
    }
	h2 { 
	color: $dark-gray;
	font-size: 80px;
	line-height: 55px;
	span {
		color: $gray;
		font-size: 40px;
		line-height: 40px;
	}
	hr {
		padding-top: 40px;
	}
}

	h3 {
		font-size: 40px;
		color: $red;
	}
	h5 {
		color: $gray;
		font-size: 24px;
	}
	.custom-fields {
		margin-top: 40px;
	}
	iframe {
		width: 580px;
		height: 326px;
	}
	.contact-block {
		font-size: 54px;
		ul {
			margin: 0;
			li {
				float: left;
				display: block;
				line-height: 54px;
			}
		}
		i {
			margin-right: 10px;
		}
		a {
			text-decoration: none;
			color: $blue;
		}
		a:hover {
			color: $red;
			@include slow-transition;
		}
	}
	.featured-block {
		background-color: $light-gray;
		border: 1px solid darken($light-gray, 3);
		padding: 10px;
		-moz-border-radius: 8px;
		-webkit-border-radius: 8px;
		border-radius: 8px;
		h3 {
			font-size: 36px;
		}
		i {
			color: $gray;
		}
	}
}


/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		.filter {
			margin: 15px 0;
			padding: 8px;
			li {
				a {
					margin: 10px;
					padding: 10px;
				}
			}
		}
		.card {
			a {
				width: 344px;
				margin: 0 20px 20px 10px;
			}
			h3 {
				font-size: 30px;
				line-height: 28px;
				span {
					font-size: 18px;
				}
			}
			.card-layout {
				float: none;
			}
		}
		.team-card {
			.card-layout {
				height: 300px;
				width: 740px;
				.team-member-images {
					width: 430px;
					float: right;
				}
			}
		}
		.profile {
			margin-top: 30px;
			.contact-block {
				width: 260px;
				i {
					margin-right: 5px;
				}
			}
			.featured-block {
				width: 680px;
			}
			.sub-group-block {
				width: 700px;
			}
			iframe {
				width: 700px;
				height: 393px;
			}
		}
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		.filter-title {
			font-family: "futura-pt",sans-serif;
			font-size: 18px;
		}
		.filter {
			display: none;
		}
		#filter-wrap {
			font-size: 18px;
			font-family: "futura-pt",sans-serif;
			padding: 10px;
			background-color: $white;
			

			-moz-border-radius: 6px;
			-webkit-border-radius: 6px;
		    border-radius: 6px;

		    -moz-box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, .3);
		    -webkit-box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, .3);
		    box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, .3);
		}
		#filter-icon {
			color: $white;
			padding: 10px;
			-moz-border-radius: 6px;
		    -webkit-border-radius: 6px;
		    border-radius: 6px;
			@include blue-gradient;
			display: block;
			i {
				margin-right: 10px;
			}
		}
		#filter {
			margin-top: 10px;
			z-index: 10000;
			display: none; /* visibility toggled by jquery */
			a {
				color: $blue;
			}
		}
		.profile {
			margin-top: 10px;
			padding-top: 10px;
		}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {	

		.filter {
			width: 450px;
			margin: 15px 0;
			padding: 8px;
			li {
				a {
					margin: 5px;
					padding: 10px;
				}
			}
		}
		.logo {
			span {
				display: none;
			}
		}
		.card {
			h3 {
				font-size: 36px;
				line-height: 30px;
				span {
					font-size: 22px;
				}
			}
			a {
				width: 410px;
				margin-bottom: 10px;
			}
		}
		.profile {
			margin-top: 34px;
			.profile-edit {
				margin: 2px 26px 0 0;
			}
			h2 {
				font-size: 64px;
				line-height: 60px;
			}
			.back-arrow {
				font-size: 16px;
				margin-top: 0;
			}
			img {
				height: 380px;
				width: 380px;
			}
			hr {
				width: 380px;
			}
			.featured-block {
				width: 360px;
				hr {
					width: 360px;
				}
			}
			ul {
				i {
					font-size: 80px;
				}
			}
			.custom-fields {
				width: 380px;
			}
			iframe {
				width: 380px;
				height: 214px;
			}
		}

	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		.logo {
			span {
				display: none;
			}
		}

		h1 {
			font-size: 28px;
			line-height: 30px;
		}

		.filter {
			margin: 15px 0;
			padding: 8px;
			li {
				a {
					margin: 5px;
					padding: 8px;
				}
			}
		}

		hr {
			margin-bottom: 20px;
		}

		.card {
			h3 {
				font-size: 24px;
			}
			a {
				width: 280px;
				height: 100px;
				margin: 8px;
			}
			img {
				margin: 13px 10px 10px 10px;
			}
		}
		.team-card {
			.card-layout{
				width: 260px;
				height: 440px;
				padding: 15px 20px;
				img {
					// display: none;
					margin: 5px;
				}
				.team-description {
					margin: 0 0 0 -15px;
					p {
						font-size: 16px;
					}
				}
				.team-member-images {
					width: 270px;
				}
				.team-url {
					font-size: 16px;
					margin: 0 0 0 -15px;
				}
				h3 {
					margin: 0;
				}
				.team-members {
					display: none;
					a {
						color: $blue;
						font-size: 16px;
					}
				}
				.sprint-mgrs {
					display: inline;
					a {
						color: $blue;
						font-size: 16px;
					}
				}
			}
		}
		.profile {
			.profile-edit {
				margin: 2px 26px 0 0;
			}
			margin: 0;
			hr {
				width: 260px;
			}
			h2 {
				font-size: 28px;
				line-height: 28px;
				padding: 0;
				margin: 0;
				span {
					font-size: 18px;
					line-height: 20px;
				}
			}
			h3 {
				font-size: 24px;
			}
			h4 {
				font-size: 20px;
			}
			h5 {
				font-size: 18px;
				line-height: 18px;
			}
			.back-arrow {
				font-size: 16px;
				margin-top: 0;
			}
			.mentor-block {
				margin-top: -10px;
		    	h4 {
		    		font-size: 18px;
		    	}
		    }
			img {
				width: 260px;
			}
			.featured-block {
				margin: 10px 0 20px 0;
				width: 240px;
				hr {
					width: 240px;
				}
			}
			.custom-fields {
				width: 260px;
			}
			iframe {
				margin-top: -26px;
				width: 260px;
				height: 146px;
			}

		}
	}


