@charset "UTF-8";

@font-face {
  font-family: 'font_icons';
  src: url('font_icons.eot');
  src: url('font_icons.eot?#iefix') format('embedded-opentype'),
       url('font_icons.woff') format('woff'),
       url('font_icons.ttf') format('truetype'),
       url('font_icons.svg#font_icons') format('svg');
  font-weight: normal; font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: font_icons;
  font-style: normal;
  speak: none;

  display: inline-block;
  width: 1.1em;
  margin-right: .1em;
  text-align: center;
}

.the-icons li {
  font-size: 14px;
  line-height: 24px;
  height: 24px;
}

.icon-plus:before { content: "+"; } /* '\2b' */
.icon-minus:before { content: "-"; } /* '\2d' */
.icon-left:before { content: "←"; } /* '\2190' */
.icon-up:before { content: "↑"; } /* '\2191' */
.icon-right:before { content: "→"; } /* '\2192' */
.icon-down:before { content: "↓"; } /* '\2193' */
.icon-home:before { content: "⌂"; } /* '\2302' */
.icon-star:before { content: "★"; } /* '\2605' */
.icon-star-empty:before { content: "☆"; } /* '\2606' */
.icon-th-list:before { content: "☰"; } /* '\2630' */
.icon-heart-empty:before { content: "♡"; } /* '\2661' */
.icon-heart:before { content: "♥"; } /* '\2665' */
.icon-th:before { content: "⚏"; } /* '\268f' */
.icon-flag:before { content: "⚑"; } /* '\2691' */
.icon-cog:before { content: "⚙"; } /* '\2699' */
.icon-attention:before { content: "⚠"; } /* '\26a0' */
.icon-mail:before { content: "✉"; } /* '\2709' */
.icon-edit:before { content: "✍"; } /* '\270d' */
.icon-pencil:before { content: "✎"; } /* '\270e' */
.icon-ok:before { content: "✓"; } /* '\2713' */
.icon-cancel:before { content: "✕"; } /* '\2715' */
.icon-asterisk:before { content: "✱"; } /* '\2731' */
.icon-attention-circle:before { content: "❗"; } /* '\2757' */
.icon-forward:before { content: "➦"; } /* '\27a6' */
.icon-help-circle:before { content: ""; } /* '\e704' */
.icon-info-circle:before { content: ""; } /* '\e705' */
.icon-th-large:before { content: ""; } /* '\e708' */
.icon-tag:before { content: ""; } /* '\e70c' */
.icon-tags:before { content: ""; } /* '\e70d' */
.icon-export:before { content: ""; } /* '\e715' */
.icon-trash:before { content: ""; } /* '\e729' */
.icon-basket:before { content: ""; } /* '\e73d' */
.icon-down-open:before { content: ""; } /* '\e75c' */
.icon-left-open:before { content: ""; } /* '\e75d' */
.icon-right-open:before { content: ""; } /* '\e75e' */
.icon-up-open:before { content: ""; } /* '\e75f' */
.icon-list:before { content: ""; } /* '\e782' */
.icon-github:before { content: ""; } /* '\f300' */
.icon-twitter:before { content: ""; } /* '\f304' */
.icon-facebook:before { content: ""; } /* '\f308' */
.icon-linkedin:before { content: ""; } /* '\f30c' */
.icon-picture:before { content: "🌄"; } /* '\1f304' */
.icon-user:before { content: "👤"; } /* '\1f464' */
.icon-doc:before { content: "📄"; } /* '\1f4c4' */
.icon-calendar:before { content: "📅"; } /* '\1f4c5' */
.icon-search:before { content: "🔍"; } /* '\1f50d' */
.icon-lock:before { content: "🔒"; } /* '\1f512' */
.icon-bookmark:before { content: "🔖"; } /* '\1f516' */
